Repository falcosecurity/event-generator, pull requests merged in 2020-05, with the labels that each got.

#28 fix(docs): very small typo
  events/README.md
Labels: approved, area/events, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#27 new(events/syscall): add cronjob event
  events/syscall/schedule_cron_jobs.go
Labels: approved, area/events, dco-signoff: yes, kind/feature, lgtm, release-note, size/M

#29 docs(README.md): update events list
  README.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS
