Repository falcosecurity/event-generator, pull requests merged in 2024-03, with the labels that each got.

#95 build: upgrade deps
  go.mod
  go.sum
Labels: lgtm, approved, dco-signoff: yes, kind/cleanup, size/XXL

#100 Corrected a typo in README.md file
  events/README.md
Labels: lgtm, approved, kind/documentation, dco-signoff: yes, area/events, size/XS

#101 Added event for default rule "Write below root"
  events/syscall/write_below_root.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#94 falco: create hardlink over sensitive file event added
  events/syscall/create_hardlink_over_sensitive_files.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#103 Added event for the default rule create hidden file or directory
  events/syscall/create_hidden_file_or_directory.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#109 Added event for default stable rule "Remove Bulk Data from Disk"
  events/syscall/remove_bulk_data_from_disk.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#126 Fix broken link by replacing it with valid url
  README.md
Labels: lgtm, approved, kind/documentation, dco-signoff: yes, size/XS

#194 docs(events/README.md): update conventions
  events/README.md
Labels: lgtm, approved, kind/documentation, dco-signoff: yes, area/events, size/S

#155 adding event on `launch network tool on host`
  events/syscall/launch_suspicious_network_tool_on_host.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#153 event on potential local privillege escalation via env var misuse
  events/syscall/potential_local_privillege_escalation_via_env_var_misuse.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#128 adding an event on change_namespace_privilleges_using_unshare
  events/syscall/change_namespace_privileges_via_unshare.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#121 adding event on triggering rule `decoding payload in container`
  events/syscall/decoding_payload_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#165 Added an event for default rule "Launch Ingress Remote File Copy Tools in Container"
  events/syscall/launch_remote_file_copy_tools_inside_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events
