Repository falcosecurity/event-generator, pull requests merged in 2024-04, with the labels that each got.

#169 Added an event for default rule "Kubernetes Client Tool Launched in Container"
  events/syscall/kubernetes_client_tool_launched_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#106 adding an event of deleting bash history
  events/syscall/delete_or_rename_shell_history.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#110 adding an event for modifying shell configuration file
  events/syscall/modify_shell_configuration_file.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#112 Added event for default rule "Read SSH Information"
  events/syscall/read_ssh_information.go
  events/syscall/utils_linux.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#117 Added an event for default rule "Adding ssh keys to authorized_keys"
  events/syscall/adding_ssh_keys_to_authorized_keys.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#122 Added an event for default rule "Program run with disallowed http proxy env"
  events/syscall/program_run_with_disallowed_http_proxy_env.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#173 Added an event for default rule "Detect crypto miners using the Stratum protocol"
  events/syscall/detect_crypto_miners_using_the_stratum_protocol.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#124 Added an event for default stable rule "Find AWS Credentials"
  events/syscall/find_aws_credentials.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#108 Added an event for default rule read shell configuration file
  events/syscall/read_shell_configuration_file.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#190 Added an event for default rule "Launch Package Management Process In Container"
  events/syscall/launch_package_management_process_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#171 Added an event for default rule "Unprivileged Delegation of Page Faults Handling to a Userspace Process"
  events/syscall/unprivileged_delegation_of_page_faults_handling_to_a_userspace_process.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#104 adding an event of launching network tool in container
  events/syscall/launch_suspicious_network_tool_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#133 Added an event for default stable rule "PTRACE attached to process"
  events/syscall/ptrace_attached_to_process.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#183 adding event on netcat rce in container
  events/syscall/netcat_remote_code_execution_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#182 Added an event for default rule "Container drift detected using chmod"
  events/syscall/container_drift_detected_chmod.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#127 adding event on unexpected_udp_traffic
  events/syscall/unexpected_udp_traffic.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#163 Added an event for default rule "Set Setuid or Setgid bit"
  events/syscall/set_setuid_or_set_setgid_bit.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#177 adding event on launch remote file copy tool in container
  events/syscall/launch_remote_file_copy_tools_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#125 Added an event for default stable rule "Execution from /dev/shm"
  events/syscall/execution_from_dev_shm.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#189 Added an event for default rule "Container Drift Detected (open+create)"
  events/syscall/container_drift_detected_open_create.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#196 Added an event for default stable rule 'Drop and execute new binary in container'
  events/syscall/drop_and_execute_new_binary_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#198 new(pkg/runner/helper): added SpawnAsWithSymlink and modified SpawnAs to make a copy
  events/interfaces.go
  events/syscall/db_program_spawned_process.go
  events/syscall/non_sudo_setuid.go
  events/syscall/read_sensitive_file_trusted_after_startup.go
  events/syscall/run_shell_untrusted.go
  events/syscall/system_procs_network_activity.go
  events/syscall/user_mgmt_binaries.go
  pkg/runner/helper.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/pkg

#136 Added an event for default stable rule "PTRACE anti-debug attempt"
  events/syscall/ptrace_anti_debug_attempt.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#113 adding an event on reading environment variable from /proc files
  events/syscall/read_environment_variable_fromm_proc.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#144 adding an event for disallowed_ssh_connection_non_standard_port
  events/syscall/disallowed_ssh_connection_non_standard_port.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#208 Fix: In ExecutionFromDevShm we should use os.Mkdir("/dev") instead if os.Mkdir("/dev/shm")
  events/syscall/execution_from_dev_shm.go
Labels: lgtm, approved, dco-signoff: yes, kind/bug, area/events, size/XS

#209 adding an event on `java process class file download`
  events/helper/combined_server_client.go
  events/syscall/java_process_class_file_download.go
Labels: size/L, lgtm, approved, dco-signoff: yes, kind/feature, area/events

#135 adding an event on packet_socket_created_in_container
  events/syscall/packet_socket_created_in_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events

#154 adding event on triggering this rule contact_ec2_instance_metadata_from_container
  events/syscall/contact_ec2_instance_metadata_from_container.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/events
