Repository falcosecurity/event-generator, pull requests merged in 2025-02, with the labels that each got.

#269 refactor(decl/suite): move no-rule check logic in suite loader
  cmd/declarative/test/test.go
  pkg/test/suite/suite.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/cleanup, area/pkg

#272 feat(decl/cmd/test): switch to incremental backoff in report retrieval
  cmd/declarative/test/test.go
Labels: size/L, lgtm, approved, dco-signoff: yes, kind/feature, area/pkg

#270 feat(decl/cmd/test): groups test reports by test suite
  cmd/declarative/test/test.go
  pkg/test/tester/tester.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/XL

#274 refactor(decl/tester): remove unused report encoders code
  pkg/test/tester/reportencoder/jsonencoder/doc.go
  pkg/test/tester/reportencoder/jsonencoder/jsonencoder.go
  pkg/test/tester/reportencoder/textencoder/doc.go
  pkg/test/tester/reportencoder/textencoder/textencoder.go
  pkg/test/tester/reportencoder/yamlencoder/doc.go
  pkg/test/tester/reportencoder/yamlencoder/yamlencoder.go
Labels: size/L, lgtm, approved, dco-signoff: yes, kind/cleanup, area/pkg

#276 build: bump libcap version
  go.mod
  go.sum
Labels: lgtm, approved, dco-signoff: yes, kind/bug, area/pkg, size/S

#277 feat(decl/cmd/test): give a name to alert retriever logger
  cmd/declarative/test/test.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/XS

#278 feat(decl/proc-chain): create proc exe dir hierarchy if not exist
  pkg/process/builder/builder.go
  pkg/process/process.go
Labels: size/L, lgtm, approved, dco-signoff: yes, kind/feature, area/pkg

#280 refactor(decl/caps): move func setting capabilities to capability pkg
  pkg/capability/capability.go
  pkg/process/builder/builder.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/pkg

#282 feat(decl/container): switch to docker client sdk
  cmd/declarative/config/config.go
  cmd/declarative/test/test.go
  go.mod
  go.sum
  pkg/container/builder/builder.go
  pkg/container/container.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/XXL

#283 feat(decl): rename `declarative` commands namespace to `suite`
  cmd/root.go
  cmd/suite/config/config.go
  cmd/suite/config/doc.go
  cmd/suite/doc.go
  cmd/suite/explain/doc.go
  cmd/suite/explain/encoders.go
  cmd/suite/explain/explain.go
  cmd/suite/run/doc.go
  cmd/suite/run/run.go
  cmd/suite/suite.go
  cmd/suite/test/doc.go
  cmd/suite/test/test.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/commands

#284 docs(cmd): improve `suite` command description
  cmd/suite/config/doc.go
  cmd/suite/suite.go
Labels: lgtm, approved, kind/documentation, dco-signoff: yes, area/commands, size/XS
