Repository falcosecurity/event-generator, pull requests merged in 2025-03, with the labels that each got.

#288 fix(suite/step/syscalls): align `read` and `write` step args after run
  pkg/test/step/syscall/read/read.go
  pkg/test/step/syscall/write/write.go
Labels: lgtm, approved, dco-signoff: yes, kind/bug, area/pkg, size/XS

#290 docs(OWNERS): add ekoops as reviewer
  OWNERS
Labels: lgtm, approved, kind/documentation, dco-signoff: yes, size/XS

#291 feat(suite/cmd/test): output test cases information in report encoding
  cmd/suite/test/test.go
  pkg/test/suite/reportencoder/textencoder/textencoder.go
  pkg/test/tester/tester.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/pkg

#293 fix: enable goreleaser push for `main`
  .github/workflows/publish-main.yaml
  .goreleaser.main.yml
Labels: lgtm, approved, dco-signoff: yes, kind/bug, size/XS

#294 fix(.github/publish-main.yaml): revert unnecessary override
  .github/workflows/publish-main.yaml
Labels: lgtm, approved, dco-signoff: yes, kind/bug, size/XS

#296 update(.github): switch to multi platform build in one step
  .github/workflows/publish-main.yaml
Labels: lgtm, approved, dco-signoff: yes, kind/bug, size/S

#287 feat(suite/step/syscalls): add arguments constraints support
  pkg/test/step/syscall/base/base.go
  pkg/test/step/syscall/connect/connect.go
  pkg/test/step/syscall/dup/dup.go
  pkg/test/step/syscall/dup2/dup2.go
  pkg/test/step/syscall/dup3/dup3.go
  pkg/test/step/syscall/finitmodule/finitmodule.go
  pkg/test/step/syscall/initmodule/initmodule.go
  pkg/test/step/syscall/kill/kill.go
  pkg/test/step/syscall/link/link.go
  pkg/test/step/syscall/linkat/linkat.go
  pkg/test/step/syscall/open/open.go
  pkg/test/step/syscall/openat/openat.go
  pkg/test/step/syscall/openat2/openat2.go
  pkg/test/step/syscall/read/read.go
  pkg/test/step/syscall/sendto/sendto.go
  pkg/test/step/syscall/socket/socket.go
  pkg/test/step/syscall/symlink/symlink.go
  pkg/test/step/syscall/symlinkat/symlinkat.go
  pkg/test/step/syscall/write/write.go
Labels: size/L, lgtm, approved, dco-signoff: yes, kind/feature, area/pkg

#297 feat(suite/step/syscalls): allow to omit `read` `buffer` or `len` arg
  pkg/test/step/syscall/read/read.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/XS
