Repository falcosecurity/event-generator, pull requests merged in 2025-01, with the labels that each got.

#253 feat(decl/scripts): replace sh with bash
  pkg/test/script/shell/shell.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/XS

#256 fix(decl/cmd/test): wait for goroutines termination upon failures
  cmd/declarative/test/test.go
  pkg/test/tester/tester/tester.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/bug, area/commands

#259 feat(decl): make `rule` and `expectedOutcome` conditionally optional
  cmd/declarative/test/test.go
  pkg/test/loader/loader.go
  pkg/test/loader/schema/jsonschemas/expectedOutcome.schema.json
  pkg/test/loader/schema/jsonschemas/test.schema.json
  pkg/test/tester/tester.go
  pkg/test/tester/tester/tester.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/pkg

#260 fix(decl/loader): fix steps/resources name uniqueness enforcement
  pkg/test/loader/loader.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/bug, area/pkg

#261 feat(decl/cmd/test): move context from logger name to attributes
  cmd/declarative/test/test.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/S

#264 chore(ci): switch to github provided arm64 runners.
  .github/workflows/ci.yaml
Labels: lgtm, approved, dco-signoff: yes, kind/cleanup, size/XS

#265 fix(decl/runners): fix host runner delegation logic
  pkg/test/runner/host/host.go
Labels: lgtm, approved, dco-signoff: yes, kind/bug, area/pkg, size/S

#267 feat(decl/loader): allow spaces in field binding syntax
  pkg/test/loader/loader.go
Labels: lgtm, approved, dco-signoff: yes, kind/feature, area/pkg, size/XS

#268 feat(decl/cmd/test): honor ctx cancellation in report generation
  cmd/declarative/test/test.go
Labels: lgtm, approved, dco-signoff: yes, size/M, kind/feature, area/pkg
